.font1 {
    margin-left :10px;
    font-family: cursive;
    font-size: 25px;
    color : brown;
    font-weight: bold;
}

.font2{
    margin-left :10px;
    font-family: Arial;
    font-size: 15px;
    color: fuchsia;
    font-weight: bold;  
}

.font3{
    margin-left :10px;
    font-family: Arial;
    font-size: 10px;
    color: grey;
    font-weight: normal; 
}

#cloud {
    border: 1px solid black;
    margin : 30px 0 10px 20px;
    padding : 5px;
    width : 400px;
    height : 200px;
    word-wrap: normal;
}